.home {
  padding: 20px 20px 72px 20px;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
}

.homeLoading {
  height: 100%;
}

.musicEvent {
  display: flex;
  margin: 10px 0;
}